/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.gallery-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(auto-fit, 200px);
    grid-gap: 20px;
    justify-content: center;
    margin: auto;
}