/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  font-family: 'Nunito', 'Roboto', sans-serif;
  color: whitesmoke;
  background-color: lightsteelblue;
  box-sizing: border-box;
  }

h1 {
  font-family: 'Nunito', sans-serif;
  text-align: center;
}